# -----------------------------------------------
#   Author: Liam Howell
#   Description: Example Local `git` configuration
# -----------------------------------------------

[user]

  name = <First Name> <Last Name>

  email = <Email>

[credential]

  helper = osxkeychain
